* {
    padding:0;
    margin:0;
}

body {
    width: 100%;
    height: 100%;
    color:#fff;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: scroll;


    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
}

a {
    color: white;
    outline-color: rgb(195, 200, 214);
    outline-style: none;
    outline-width: 0px;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0px;
    line-height: 90px;
    padding-bottom:8px;
}

h2 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 300;
    font-family:'Open Sans', sans-serif;
    margin: 0px;
    text-transform: uppercase;
}
h3 {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0px;
}
h4 {
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 600;
    margin: 0px;
}
h4.sub-heading{
    font-weight:600;
    font-size:18px;
    padding-bottom:22px;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:24px;
    padding-bottom:6px;
    font-weight:400;
    margin:0px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    line-height:21px;
    font-weight:400;
    padding-bottom:22px;
    margin:0px;
}

.container .row{
    margin:0px;
}
/* -------------------------------------------*/

#hero_image {
    background-image: url('../images/1.jpg');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    opacity: .2;
}
.bg-panel {
    background-color: rgb(27, 31, 43);
    height: 100%;
    overflow: hidden;
}

.noPadd{
    padding:0px !important;
}

.title-box {
    border: 1px solid white;
    top: 35%;
    position: absolute;
    max-width: 960px;
    text-align: center;
    padding: 30px 0 30px;
    left: 0px;
    right: 0px; /* It seems essential to add left and right =0 for margin auto to take effect*/
    background-color: rgba(0, 0, 0, 0.2);
}


.title-box h2 {
    font-size: 34px;
    text-transform: none;
}
@media screen and (max-width: 991px) {
    .title-box h1 {
        font-size: 65px;
        line-height: 71px;
    }
    .title-box h2 {
        font-size: 28px;
    }
    .title-box {
        padding-left:25px;
        padding-right:25px;
    }
}
@media screen and (max-width: 650px) {
    .title-box h1 {
        font-size: 42px;
        line-height: 48px;
    }
    .title-box h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

/* ---------------------- Nav Bar ------------------------ */
.nav ul {
    text-align: center;
}
.navbar.navbar-inverse.navbar-static-top {
    margin-bottom: 0px;

    font-size: 14px;
}
.navbar.navbar-inverse.navbar-static-top a  {
    padding:22px 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none solid rgb(195, 200, 214);
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 300;
    color:  #c3c8d6;
    display: inline-block;
}

.navbar-header{
    display:none;
}
.navbar-collapse{
    padding:0;
}
.navbar-wrapper {
    z-index: 15;
    margin-top: 0px;
    background-color: #262B37;
}
.navbar-wrapper .container{
    padding:0px;
}
.navbar-nav{
    margin: 0 auto;
    text-align: center;
    float: none;
}

.navbar-nav > li{
    float: none;
    display: inline;
}

.navbar {
    background-color: #262B37;
}
.left-right-0 {
    left: 0;
    right: 0;
}
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #1b1f29;
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
    background: #1b1f29;
    color: #c3c8d6;
}

.navbar-toggle{
    margin-top:14px;
}
.navbar-fix-top {
    position: fixed;
    top: 0px;
    width: 100%;
}
.navbar-collapse.in{
    max-height:100%;
}
.navbar-placeholder {
    height: 63px;
    display: none;
}


/* ---------------------- About Me ------------------------ */

.aboutme {
    background:#00bdbd;
    color:#fff;
    position:relative;
}

.round-pic {
    border-radius: 50%;
}

.aboutme .container{
    padding-top:85px ;
    padding-bottom:93px ;
}

.heading{
    text-align:center;
    padding-bottom:45px;
}

.btn-download {
    background-color: rgb(71, 77, 93);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 22px;
    display: inline-block;
}

.margin-top-20 {
    margin-top:20px;
}

/* ---------------------- Skill ------------------------ */
.chart {
    position: relative;
    display: inline-block;
    width: 152px;
    height: 152px;
    margin-bottom: 26px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.skills {
    background:#eeeeee;
    color:#474d5d;
    margin:0 auto;
    margin-bottom:23px;
    text-align:center;
    padding:0px;
    float:none;
}
.skills h2 {
    color: #ff675f;
}

.skills .container {
    padding-top: 85px;
    padding-bottom: 69px;
}

.skills p {
    color: #474d5d;
}

.skills .row p{
    color:#84868d;
    font-size:13px;
    line-height:18px;
    text-align:center;
}
.skills .heading p {
    padding-bottom: 41px;
}
.percent {
    display: inline-block;
    font-size:21px;
    color:#474d5d;
    line-height: 152px;
    z-index: 2;
}

.skills h4{
    font-weight:700;
    text-transform:uppercase;
}
/* ------------------------- Work Experience --- -------------- */
.work-experience .container{
    padding-top:85px ;
    padding-bottom:90px ;
}
.work-experience {
    color: #ff675f;
}

.work-experience p {
    color: #474d5d;
}

.work-experience {
    margin:0 auto;
    text-align:center;
    padding:0px;
    float:none;
}

.work-experience .heading p {
    padding-bottom: 41px;
}

.work-experience h4{
    font-weight:700;
    text-transform:uppercase;
}

.work-experience p{
    color:#84868d;
    /*font-size:13px;*/
    line-height:18px;
}

.work-year {
    font-size:17px;
    color:#fff;
    background:#ff675f;
    text-align:center;
    width:120px;
    height:120px;
    padding:40px 0 40px 0;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.arrow-part{
    float:left;
    width:15px;
    height:50px;
    background:url(../images/arrow-left.png) no-repeat 0 23px;
}
.work-box {
    width:auto;
    background:#f3f3f3;
    border-bottom:solid 4px #eeeeee;
    padding:22px 47px 6px 47px;
    margin-left:15px;
    text-align:left;
}

.work-box p{
    color:#84868d;
    line-height:21px;
}
.work-box h4{
    color:#474d5d;
    padding-bottom:3px;
}
.work-box h5{
    color:#474d5d;
}

.work-details .right-area{
    border-left: solid 1px #eaeaea;
    padding-bottom:47px;
}
.work-details:last-child .right-area{
    padding-bottom:0px;
}

/* ------------------------- Education ------------------------ */

.edu-experience {
    color: #ff675f;
}

.edu-experience .container {
    padding-top: 85px;
    padding-bottom: 90px;
}

.edu-experience p {
    color: #474d5d;
}

.edu-experience {
    margin:0 auto;
    text-align:center;
    padding:0px;
    float:none;
}

.edu-experience .heading p {
    padding-bottom: 41px;
}

.edu-experience h4{
    font-weight:700;
    text-transform:uppercase;
}

.edu-experience p{
    color:#84868d;
    /*font-size:13px;*/
    line-height:18px;
}

.edu-experience {
    background: #eeeeee;
}
.edu-experience .work-box {
    background-color: #FAFAFA;
}


.edu-experience .arrow-part{
    background:url(../images/arrow-left-light.png) no-repeat 0 23px;
}
.edu-experience .work-box{
    background:#fafafa;
    border-bottom:solid 4px #e8e7e7;
}

.edu-experience .work-details .right-area{
    border-left-color:#e5e4e4;
}
/*----------------------------------------------------
 10. Portfolio Style
------------------------------------------------------*/
.portfolio {
    background-color:#2bb3dd;
}
.portfolio .container{
    padding-top:85px ;
    padding-bottom:90px ;
}

.portfolio .heading p{
    padding-bottom:41px;
}

.portfolio h4{
    font-weight:700;
}


.portfolio-filter{
    display:block;
    margin:0 auto;
    text-align: center;
}

.portfolio-filter ul{
    margin:0 auto;
    text-align:center;
    display:block;
    margin-bottom:30px;
}
.portfolio-filter ul li{
    display:inline-block;
    margin:5px 5px;
}
.portfolio-filter ul li a{
    padding:16px 18px;
    font-size:13px;
    line-height:15px;
    color:#ffffff;
    text-transform:uppercase;
    display:block;
    text-decoration:none;
    border:solid 1px #95d9ee;

    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.portfolio-filter ul li a:hover{
    border:solid 1px #15596e;
    color:#15596e;

    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.portfolio-filter ul li a.current{
    background:#15596e;
    border:solid 1px #15596e;
    color:#fff;
}
/* ------------------------------------------------------------ */

.contact{
    background:#fff;
}
.contact .container{
    padding-top:85px ;
    padding-bottom:90px ;
}

.contact h2{
    color:#ff675f;
}
.contact p{
    color:#84868d;
    /*font-size:13px;*/
    line-height:18px;
}
.contact .heading p{
    padding-bottom:41px;
}

.contact h4{
    font-weight:700;
}
.padding-bottom-0 {
    padding-bottom:0px !important;
}
#map_area {
    background:url(../images/map-bro.png) repeat-x 0 0;
    padding-top:4px;
    height:400px;
    overflow:hidden;
    width:100%;
    margin:0;
}


#map_area iframe{
    width:100%;
    height:396px;
    padding-bottom: 4px;
    background:url(../images/map-bro.png) repeat-x 0 100%;
}
/* ---------------------------------------------------------------
               Contact Details
   --------------------------------------------------------------- */
.contact-details{
    background:#474d5d;
}
.contact-details .container{
    padding-top:85px ;
    padding-bottom:90px ;
}
.contact-details h4{
    font-weight:600;
    text-transform:uppercase;
    padding-bottom:15px;
}
.contact-details p{
    color:#93959c;
    font-size:13px;
    line-height:19px;
    padding-bottom:14px;
}
.contact-details p a{
    color:#93959c;
}
.contact-details p a:hover{
    color:#a9abb0;
    text-decoration:none;
}

.contact-details i{
    padding-right:15px;
}


.conForm input{
    background:#585f73;
    color:#93959c;
    padding:15px 30px;
    border:none;
    margin-right:3%;
    margin-bottom:30px;
    outline:none;
    font-style:italic;
}
.conForm input.noMarr{
    margin-right:0px;
}

.conForm textarea{
    background:#585f73;
    color:#93959c;
    padding:15px 30px;
    border:none;
    margin-bottom:40px;
    outline:none;
    height:100px;
    font-style:italic;
}


.conForm .submitBnt{
    background:#ff675f;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-size:16px;
    font-weight:600;
    text-align:center;
    float:right;
    margin:0px;
}
.conForm .submitBnt:hover{
    background:#f5534b;
}

.textGroup{
    position:relative !important;
    display: inline-block;
    padding-left:0px !important;
}
/* ------------------------------------------------------------
                      Footer
   ------------------------------------------------------------ */
.footer{
    background:#00bdbd;
}
.footer .container{
    padding:40px 0;
}

.footer ul{
    margin:0 auto;
    text-align:center;
    list-style-type:none;
}
.footer ul li{
    display:inline-block;
    text-align:center;
    background:#ffffff;
    color:#00bdbd;
    line-height:42px;
    margin:0 6px;
    width:42px !important;
    height:42px !important;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.footer ul li:hover{
    background:#0a9f9f ;
}
.footer ul li:hover	a{
    color:#fff;
}

.footer ul li a{
    color:#00bdbd;
    width:42px !important;
    height:42px !important;
}
.footer ul li a i{
    line-height:42px !important;
}

/* ------------------------- Responsive ----------------------- */
@media screen and (max-width: 767px) {
    .navbar-header {
        display:block;
    }

    .navbar.navbar-inverse.navbar-static-top a{
        display:block;
    }

    .work-year {
        margin: 0 auto;
    }

    .arrow-part {
        float: none;
        width: 100%;
        height: 40px;
        background: url(../images/arrow-top.png) no-repeat 50% 100%;
    }

    .edu-experience .arrow-part {
        background: url(../images/arrow-top-light.png) no-repeat 50% 100%;
    }

    .work-details .right-area{
        border-left:none;
    }
}
@media screen and (max-width: 768px) {
    .navbar-wrapper .container,
    .navbar.navbar-inverse.navbar-static-top .container {
        padding-right: 15px;
        padding-left: 15px;
    }

}

@media screen and (max-width: 810px) {
    .navbar.navbar-inverse.navbar-static-top a {
        padding-left: 17px;
    }

}

@media screen and (max-width: 991px) {
    .navbar.navbar-inverse.navbar-static-top a {
        padding-left:18px;
        padding-right:18px;
    }
    .profile-pic-wrapper {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .work-year{
        width:140px;
        height:140px;
        padding-top:50px;
    }

    .edu-experience .work-year{
        padding-top:58px;
    }
}

